.btn {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: #1f1f1f;
    cursor: pointer;
    position: relative;
}

.btn:focus,
.btn:focus-visible,
.btn:active {
    outline: none;
    border: none;
}

.btn::-moz-focus-inner {
    border: 0;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: 10px;
    background: var(--icon-url) center/18px 18px no-repeat;
}

.btn:hover::before {
    background: var(--icon-hover-url) center/18px 18px no-repeat;
}

.btn:active::before {
    background: var(--icon-hover-url) center/18px 18px no-repeat;
    filter: brightness(1.1);
}

.btn:hover {
    background: #595959;
}

.btn:active {
    background: #1A1A1A;
}